<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Admin dashboard{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
    </head>
    <body>
        {% include "admin/admin_layout/navbar.html.twig" %}
        <div class="container-fluid flex-fill d-flex">
            <div class="row flex-fill">
                {% include "admin/admin_layout/sidebar.html.twig" %}
                <main class="col-md-9 ms-sm-auto col-lg-10 p-3">
                {% block body %}

                {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
