{% extends 'base.html.twig' %}

{% block title %}New ImageTest{% endblock %}

{% block body %}
    <h1>Create new ImageTest</h1>

    {{ include('image_test/_form.html.twig') }}

    <a href="{{ path('app_image_test_index') }}">back to list</a>
{% endblock %}
