@import "~bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
// navbar
header {
    height: 66px;
}
a {
    text-decoration: none;
}
.navbar {
    background: #ffffff;
    box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);
}
.text-semi-dark {
    color: #444;
}
.fs-small {
    font-size: 12px;
}
.carousel-custom-icon {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
// navbar
#admin-nav-toggler {
    position: fixed;
    right: 16px;
    @media (min-width: "768px") {
        display: none;
    }
}
.accordionNav {
    padding: 66px 0 0 0;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: scroll;
    @media (max-width: "768px") {
        display: none!important;
    }
    &.toggle{
        @media (max-width: "768px") {
            display: flex!important;
        }
    }
    &--item {
        &__header {
            margin: 0;
            button {
                border: none;
                width: 100%;
                font-weight: 500;
                color: #000;
                background-color: #f2f2f2;
                transition: 0.2s;
                .chevron {
                    transform: rotate(180deg);
                    transition: transform 0.2s;
                }
                &.collapsed {
                    background: transparent;
                    color: #444;
                    .chevron {
                        transform: rotate(0deg);
                    }
                }
            }
            &:hover {
                background-color: #f2f2f2;
            }
        }
        &__collapse {
            .collapse-box {
                a {
                    color: #444;
                    width: 100%;
                    transition: 0.2s;
                }
                a:hover {
                    color: #000;
                    background-color: #f2f2f2;
                }
            }
        }
    }
    .admin-logout-btn {
        width: 100%;
        background: #0d6efd;
        color: white;
        transition: 0.2s;
        &:hover {
            background: #0d6dfde0;
        }
    }
}
