{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin - Modifier un type de bien{% endblock %}

{% block body %}
        <h1>Modifier un type de bien</h1>

        {{ include('admin/property_type/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
