{% extends 'base.html.twig' %}

{% block title %}New PropertyType{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new PropertyType</h1>

        {{ include('admin/property_type/_form.html.twig') }}

        <a href="{{ path('app_property_type_index') }}">back to list</a>
    </div>
{% endblock %}
