<header class="navbar navbar-light sticky-top ">
  <a href="{{ path('home') }}" class="ms-2">
      <img src="{{asset('images/static_assets/Homey-color.svg')}}" alt="Homey logo" height='50'>
  </a>
  <button class="navbar-toggler position-absolute" id='admin-nav-toggler' type="button" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>