<section class="footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="{{ path('home') }}" class="me-2">
                    <img src="{{asset('images/static_assets/Homey-color.svg')}}" alt="Homey logo" height='50'>
                </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href='#'><i class="fa-brands fs-5 text-secondary fa-facebook"></i></a></li>
            <li class="ms-3"><a href='#'><i class="fa-brands fs-5 text-secondary fa-twitter"></i></a></li>
            <li class="ms-3"><a href='#'><i class="fa-brands fs-5 text-secondary fa-instagram"></i></a></li>
            </ul>
        </footer>
    </div>
</section>
